//@import '../../../node_modules/mapbox-gl/dist/mapbox-gl.css';
.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .example-full-width {
    width: 100%;
    
  }
  

#map { height: 400px;
width: 100%; }
#marker{
  text-align: center;
  width: 200px;
  border-radius: 10px;
}
#task > input {
  text-align: center;
}
#task > button{
 margin: 5px;
}
#quest{
  width: 100%;

}
#cos{
  width: 100px;
  background: red;
}
input{
  margin: 1px;
  border: solid 3px #0F86BD;
  border-radius: 10px;
}
input[type="radio"] {
  margin: 5px;
}